$red: #dd656e;
$navy-blue: #23374c;
$alice-blue: #E7ECEF;
$blue: #0090C1;
$gold: #FFD700;

:export {
    red: $red;
    navy-blue: $navy-blue;
    alice-blue: $alice-blue;
    blue: $blue;
    gold: $gold;
};